.contents.row
  .success
    %h5
      投稿が完了しました。
    %a.waves-effect.waves-light.btn.light-blue.darken-4{:href => "/tweets"} 投稿一覧へ戻る
    %a.btn{:href => "/tweets", :onclick => "Materialize.toast('I am a toast', 10000)"} Toast!
