.post-new
  = form_tag("/tweets/#{@tweet.id}", method: :patch) do
    #title-border.row
      .input-field.col.s11
        %input#first_name2{class: "validate", name: "title", placeholder: "見出しを決めよう", type: "text",value: "#{@tweet.title}" }
        %label#post_label.active タイトル
    .row
      .col.s12
        .row
          .input-field.col.s11
            %textarea#post-textarea.materialize-textarea{name: "text", placeholder: "アウトプットして技術情報を共有しよう。"}
              = @tweet.content
            %label#post_label.active 本文
      %button#post-submit.waves-effect.waves-light.btn.light-blue.darken-4{name: "action", type: "submit"}
        更新する
