<div class="contents"> 
  <div class="text-against">
    <h1 class="text-against_picture">Share together.</h1>
    <p class ="text-against_picture">TechBaseは、エンジニアのための技術情報共有サービスです。</p>
    <p class ="text-against_picture">自分のスキルを伸ばしたい時、技術的な壁に突き当たった時、</p>
    <p class ="text-against_picture">他のエンジニアとの知見を共有しましょう。</p>
  </div>
  <p class="center-align">
    <a class="waves-effect waves-light btn red lighten-1" href="users/sign_up">今すぐ新規登録</a>
  </p>


</div>

