<div class="contents">
  <h1 class="text_against_picture">Share together.</h1>
  <p class ="text_against_picture">TechBaseは、エンジニアのための技術情報共有サービスです。</p>
  <p class ="text_against_picture">自分のスキルを伸ばしたい時、技術的な壁に突き当たった時、</p>
  <p class ="text_against_picture">他のエンジニアとの知見を共有しましょう。</p>
  <p class="center-align">
    <a class="waves-effect waves-light btn red lighten-1" href="">今すぐ新規登録</a>
    <li><%= link_to "Sign_Up", new_user_registration_path, :class => 'post' %></li>
  </p>
</div>