.home-contents
  %h1.home-contents--text Share together.
  %p.home-contents--text TechBaseは、エンジニアのための技術情報共有サービスです。
  %p.home-contents--text 自分のスキルを伸ばしたい時、技術的な壁に突き当たった時、
  %p.home-contents--text 他のエンジニアとの知見を共有しましょう。
.home-content-button 
  = link_to new_user_registration_path, class:"center-align" do
    .home-content-button--link
      %p.waves-effect.waves-light.btn.red.lighten-1 
        今すぐ新規登録
