.post-new
  = form_tag('/tweets', method: :post,class: "post_page") do
    #title-border.row
      .input-field.col.s11
        %input#first_name2{class: "validate", name: "title", placeholder: "見出しを決めよう。", type: "text"}
        %label#post_label.active タイトル
        .err_title
    .row
      .col.s12
        .row
          .input-field.col.s11
            %textarea#post-textarea.materialize-textarea{name: "text", placeholder: "アウトプットして技術情報を共有しよう。"}
            %label#post_label.active 本文
            .err_content
      %button#post-submit.waves-effect.waves-light.btn.light-blue.darken-4{name: "action", type: "submit"}
        投稿する
