<div class="post-new">
  <%= form_tag('/tweets', method: :post) do %>
    <textarea   cols="40" name="text" placeholder="text" rows="40"></textarea>
    <input type="submit" value="TechBase">
  <% end %>
</div>