.post-new
  = form_tag('/tweets', method: :post) do
    #title-border.row
      .input-field.col.s11
        %input#post-title.validate{:name => "title", :placeholder => "タイトル", :type => "text"}/
        %label#main-title タイトル
    .row
      %form.col.s12
        .row
          .input-field.col.s11
            %textarea#post-textarea.materialize-textarea{:name => "text", :placeholder => "アウトプットして技術情報を共有しよう。"}
            %label#main-content 本文
      %button#post-submit.waves-effect.waves-light.btn.light-blue.darken-4{:name => "action", :type => "submit"}
        投稿する
