.user-page {
  margin: 30px auto;
  border: 1px solid #555;
  width: 550px;
}

h4 {
  text-align: center;
}

.user-page-box {
  padding-left: 10px;
}

.waves-effect.waves-light.btn.light-blue.darken-4 {
  width: 60%;
  margin: 20px 0 20px;
}

.register-btn {
  background-color: #01579b;
  border-style: none;
  color: white;
}

.login-btn {
  color: #fff;
}

#register-margin {
  margin-bottom: 10px;
}

.err_email_same {
  color: red;
  font-size: 14px;
  padding: 10px 0px 10px 10px;
}

.err_email-login {
  color: red;
  font-size: 14px;
  padding: 10px 0px 10px 10px;
}

#test-user {
  width: 60%;
  margin-bottom: 20px;
}
