.user-page {
  margin: 30px auto;
  border: 1px solid #555;
  width: 550px;
}

h4 {
  text-align: center;
}

.user-page-box {
  padding-left:10px;
}

.waves-effect.waves-light.btn.light-blue.darken-4 {
  width: 60%;
  margin-bottom:30px;
}
