// ***新規登録・ログイン共通***
.user-page {
  margin: 30px auto;
  border: 1px solid #555;
  width: 550px;
  &--box {
    padding-left: 10px;
  }
}

h4 {
  text-align: center;
}

.waves-effect.waves-light.btn.light-blue.darken-4 {
  width: 60%;
  margin: 20px 0 20px;
}

// ***新規登録***
#register-margin {
  margin-bottom: 10px;
}

.err_email_same {
  color: red;
  font-size: 14px;
  padding: 10px 0px 10px 10px;
}

// ***ログイン***
.err_email--need-new {
  color: red;
  font-size: 14px;
  padding: 10px 0px 10px 10px;
}

#test-user {
  width: 60%;
  margin-bottom: 20px;
}
