.post-new{
  &--comment {
    padding-left: 10px;
  }
}

.post-comments {
  height: 100px;
  width: 500px;
  border-radius: 3px;
}

#post-submit {
  margin-left: 10px;
}

.tweet-comments {
  padding-left: 10px;
}

#title-field-show {
  padding-top: 20px;
  font-size: 16px;
}

#content-field-show {
  padding-top: 20px;
  font-size: 16px;
}

#post_label {
  font-size: 20px;
}

.user-comments {
  margin: 10px 0px;
  & a:hover{
    text-decoration: underline;
  }
}