.container {
  margin-left: 25%;
}

.card-co a {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.cards {
  padding-top: 20px;
}

.created_at-border {
  border-top: 1px solid rgba(160,160,160,0.23);
  color:#999999;
}

.card_option {
  list-style: none;
  display:flex;
  a{
    color: white;
  }
}

#card_option--btn {
  margin-right: 10px;
  width:70px;
  color:white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.created_at-text {
  line-height:36px;
  margin:0 10px;
  padding-left: 100px;
  padding-top: 30px;
}

.form-control{
  margin:20px 20px;
  padding:20px 20px;
}

#post-title {
  margin-top: 20px;
  font-size: 15px;
}

#post-textarea {
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 40px;
  font-size: 15px;
}

#post-submit {
  width:15%;
  margin-left: 15px;
  margin-top: 0px;
}

#comments-submit {
  width:15%;
  margin-top: 10px;
}

#title-border {
  margin-top: 20px;
}

#post_label {
  font-size: 20px;
}

#first_name2{
  padding-top: 20px;
}

.post_page {
  padding-left: 10px;
}
