#page-top a {
  background: #01579b;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}

#page-top a:hover {
  text-decoration: none;
  background: #01579b;
}

#overlay{   
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  0% { 
      transform: rotate(0deg); 
  }
  100% { 
      transform: rotate(359deg); 
  }
}

.is-hide{
  display:none;
}

#card-box {
  margin: 20px 0px 0px 0px;
  &--content {
    padding-bottom: 0px;
  }
}

.card-content a{
  font-size: 18px;
  color: black;
  font-weight: bold;
  &:hover {
    color:#1DA1F2;
    text-decoration: underline;
  }
}

.tweet-content {
  word-wrap: break-word;
  padding-top: 10px;
}

.tweet-userinfo {
  color: #999;
  display: flex;
  font-size: 13px;
  padding: 0px 0px 10px 24px;
}

.tweet-nickname a:hover {
  text-decoration: underline;
}

.tweet-created_at {
  padding-left: 30px;
}

.created_at-border {
  border-top: 1px solid rgba(160,160,160,0.23);
  color:#999999;
}

.card_option {
  list-style: none;
  display: flex;
  a{
    color: white;
  }
}

#card_option-btn {
  margin-right: 10px;
  width: 70px;
  color:white;
  margin: 10px 5px 10px 15px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}
